@{
    ViewData["Title"] = "Home Page";
}


<!--  ConfigurarJuego.cshtml
Permite configurar mediante un formulario (GET) usando select o input type radio:
a. Dificultad (Eligiendo una en particular, o todas → value = -1 )
b. Categoría (Eligiendo una en particular o todas → value = -1)
c. Username 
Todos los campos deben ser required!
Debe existir un botón Jugar que invoque al método Comenzar del controller.

-->

<h1>DIFICULTAD</h1>
  
<form action='@Url.Action("Comenzar","Home")' method="GET" enctype="multipart/form-data">

    <input type="radio"  id="Baja" value="Baja"  name="Dificultad"/> <label for="Baja"> Baja </label><br/>

    <input type="radio"  id="Media" value="Media" name="Dificultad"/> <label for="Media"> Media </label><br/>

    <input type="radio"  id="Alta" value="Alta" name="Dificultad"/> <label for="Alta"> Alta </label><br/>
 
    <input type="radio"  id="¡Todas!" value="-1"  name="Dificultad"/> <label for="¡Todas!"> ¡Todas! </label><br/><br/>
 


<h1>CATEGORÍA</h1>


    <input type="radio" id="Madrijim" value="Madrijim" name="Categoria" /> <label for="Madrijim"> Madrijim </label><br/>
 
    <input type="radio"  id="Majane" value="Majane" name="Categoria" /> <label for="Majane"> Majane </label><br/>
 
    <input type="radio" id="Dorjarock" value="Dorjarock" name="Categoria" /> <label for="Dorjarock"> Dorjarock </label><br/>
 
    <input type="radio" id="Comunidad " value="Comunidad " name="Categoria "/> <label for="Comunidad"> Comunidad </label><br/>
 
    <input type="radio" id="¡Todas!" value="-1" name="Categoria" /> <label for="¡Todas!"> ¡Todas! </label><br/><br/>
  
  <h1>NOMBRE</h1>
  <input type="text" class="form-control" id="Nombre"  autocomplete= "off" name="username" required><br/>
 

<button type="submit" class="btn btn-primary_ botonderecho">¡Comenzar a jugar!</button>

</form>
