@{
    ViewData["Title"] = "Home Page";
}


<!--  ConfigurarJuego.cshtml
Permite configurar mediante un formulario (GET) usando select o input type radio:
a. Dificultad (Eligiendo una en particular, o todas → value = -1 )
b. Categoría (Eligiendo una en particular o todas → value = -1)
c. Username 
Todos los campos deben ser required!
Debe existir un botón Jugar que invoque al método Comenzar del controller.

-->

<h1>DIFICULTAD</h1>
  
<form action='@Url.Action("Comenzar","Home")' method="GET" enctype="multipart/form-data">

  <div class="form-group pb-4">
      <input type="radio" class="form-control" id="Baja" placeholder="Baja"  autocomplete= "off" name="Baja" required>
  </div>

   <div class="form-group pb-4">
    <input type="radio" class="form-control" id="Media" placeholder="Media" autocomplete= "off" name="Media" required>
  </div>

   <div class="form-group pb-4">
    <input type="radio" class="form-control" id="Alta" placeholder="Alta" autocomplete= "off" name="Alta" required>
  </div>

     <div class="form-group pb-4">
    <input type="radio" class="form-control" id="¡Todas!" placeholder="¡Todas!" autocomplete= "off" name="¡Todas!" required>
  </div>


<h1>CATEGORÍA</h1>

  <div class="form-group pb-4">
      <input type="radio" class="form-control" id="Madrijim" placeholder="Madrijim"  autocomplete= "off" name="Madrijim" required>
  </div>

   <div class="form-group pb-4">
    <input type="radio" class="form-control" id="Majane" placeholder="Majane" autocomplete= "off" name="Majane" required>
  </div>

   <div class="form-group pb-4">
    <input type="radio" class="form-control" id="Dorjarock" placeholder="Dorjarock" autocomplete= "off" name="Dorjarock" required>
  </div>

     <div class="form-group pb-4">
    <input type="radio" class="form-control" id="Comunidad " placeholder="Comunidad " autocomplete= "off" name="Comunidad " required>
  </div>

   <div class="form-group pb-4">
    <input type="radio" class="form-control" id="¡Todas!" placeholder="¡Todas!" autocomplete= "off" name="¡Todas!" required>
  </div>

  <input type="text" class="form-control" id="Nombre" placeholder="Nombre"  autocomplete= "off" name="Nombre" required>
 

<button type="submit" class="btn btn-primary_ botonderecho">¡Comenzar a jugar!</button>

</form>
