@{
    ViewData["Title"] = "Home Page";
         <div class="pb-5"> </div>
          <div class="pb-5"> </div>
           <div class="pb-5"> </div>
            <div class="pb-5"> </div>
}



<!--Muestra:
a. Nombre de usuario
b. Puntaje final
c. Un enlace para volver a jugar (Reinicia el juego invocando al método
ConfigurarJuego del controller)-->

<div class="container">
<div class="row">
<div class="col-6">
</div>
<div class="col-6">
</div>
</div>
<div class="row">
<div class="col-sm">
</div>
<div class="col-sm">

<center><h1 class="fin">Nombre: @ViewBag.username</h1>
<h1 class="fin">Puntaje Final: @ViewBag.Puntajeok</h1>
 <a class="btn btn-primary_ botonderecho" asp-area="" asp-controller="Home" asp-action="ConfigurarJuego"> ¡Volver a jugar!</a> </center>
</div>

<div class="col-sm">
</div>

</div>
</div>