@{
    ViewData["Title"] = "Home Page";
}


<!--Muestra:
a. Nombre de usuario
b. Puntaje final
c. Un enlace para volver a jugar (Reinicia el juego invocando al método
ConfigurarJuego del controller)-->

<h1> hola </h1>