@{
    ViewData["Title"] = "Home Page";
}



<!-- Index.cshtml
Debe mostrar el logo del juego y un enlace en formato de botón que invoca al método
ConfigurarJuego del controller-->

<img src="/imagenes/logo.png">
  <a href='@Url.Action("ConfigurarJuego", "Home")'class="btn btn-primary_ botones ">¡Quiero jugar!</a>