@{
    ViewData["Title"] = "Home Page";
        <div class="pb-5"> </div>
}



<!-- Index.cshtml
Debe mostrar el logo del juego y un enlace en formato de botón que invoca al método
ConfigurarJuego del controller-->

<div class="container">

<div class="row">

<div class="col-sm">
</div>

<div class="col-sm">
 <a href='@Url.Action("ConfigurarJuego", "Home")'class="step_1 bg-white overflow-hidden rounded-pill text-center color tamano">¡Quiero jugar!</a>
</div>

<div class="col-sm">
</div>

</div>                                                                                 
 

</div>                                                                                 
 